name: Build & Deploy Info Football

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io/nawfalrakhmansah
  IMAGE_NAME: info-football
  GH_REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: DeployAja Plan
        uses: deployaja/deployaja-cli@v0.0.15
        with:
          command: plan
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}

      - name: DeployAja Deploy
        uses: deployaja/deployaja-cli@v0.0.15
        with:
          command: deploy
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}
          additional-args: --set container.image=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          docker-registry: ${{ env.GH_REGISTRY }}
          docker-username: ${{ secrets.GH_USERNAME }}
          docker-password: ${{ secrets.GH_PAT }}

      - name: DeployAja Status
        uses: deployaja/deployaja-cli@v0.0.15
        with:
          command: status
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}
