name: Build & Deploy

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io/nawfalrakhmansah
  IMAGE_NAME: info-footaball

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/nawfalrakhmansah/info-footaball:latest
            ghcr.io/nawfalrakhmansah/info-footaball:${{ github.sha }}

      - name: DeployAja Plan
        uses: deployaja/deployaja-cli@v0.0.15
        with:
          command: plan
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}

      - name: DeployAja Deploy
        uses: deployaja/deployaja-cli@v0.0.15
        with:
          command: deploy
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}
          docker-registry: ghcr.io
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
